<%= render 'layouts/photoscroll' %>

<div class="row-fluid">


<div class="text-container span9">

<p class="headline">Make a difference at S.C.H.O.L.A.R.</p>

<% if !@volunteer.pictures.first.nil? %>
<div id="enrich-photo-right">
	<img id="enrich-photo" src=<%= @volunteer.pictures.first.image.url %> >
</div>

<div id="empty-div">&nbsp;</div>

<div id="enrich-photo-left">
	<img id="enrich-photo" src=<%= @volunteer.pictures.last.image.url %> >
</div>
<% end %>

<p><%= simple_format(h @volunteer.text) %></p>

<% if signed_in? %>
<%= button_to "Update this page", new_volunteer_path, :method => :get, :form_class => "edit", class: "btn btn-large" %>
<% end %>
</div>




<%= render 'layouts/sidebar' %>

</div>
