<%= render 'layouts/photoscroll' %>

<div class="row-fluid">


<div class="text-container span9">

<p class="headline"><%= Headline.first.donates %></p>
<% if signed_in? %>
	<%= button_to "Edit headline", '/edit_donates_headline', :method => :get, class: "btn" %>
<% end %>

<% if !@donate.pictures.first.nil? %>
<div id="enrich-photo-right">
	<img id="enrich-photo" src=<%= @donate.pictures.first.image.url %> >
</div>

<div id="empty-div">&nbsp;</div>

<div id="enrich-photo-left">
	<img id="enrich-photo" src=<%= @donate.pictures.last.image.url %> >
</div>
<% end %>

<p><%= simple_format(h @donate.text) %></p>

<% if @donate.brochure_file_name != nil %>
	<%= link_to "Information for donors", @donate.brochure.url(:original, false) %>
	<% if signed_in? %>
		 | 
		<%= link_to "delete this file", donate_path, :method => :delete %>
	<% end %>

<% end %>

<% if signed_in? %>
<%= button_to "Upload new brochure", edit_donate_path(params[:id]), :method => :get, :form_class => "edit", class: "btn" %>
<% end %>

<br><br>

<% if signed_in? %>
<%= button_to "Update this page", '1/edit_full', :method => :get, :form_class => "edit", class: "btn btn-large" %>
<% end %>
</div>

<%= render 'layouts/sidebar' %>

</div>