<%= render 'layouts/photoscroll' %>

<div class="row-fluid">

<div class="text-container span9" id="faq-container">
<p class="headline">Learn more about the S.C.H.O.L.A.R. program.</p>

<% if !@faqs.empty? %>
<% @faqs.each do |faq| %>
	<p>
	<b>Q: <%= faq.question %></b> <br>
	A: <%= faq.answer %>
	<% if signed_in? %>
		<br>
		<%= link_to "Edit this FAQ", edit_faq_path(faq) %> <br>
		<%= link_to "Delete this FAQ", faq, method: :delete %>
    <% end %>
    <br> <br>
    </p>
<% end %>
<% end %>

<% if signed_in? %>
	<%= button_to "Add new FAQ", new_faq_path, :method => :get, class: "btn btn-large" %>
<% end %>

</div>

<%= render 'layouts/sidebar' %>

</div>
