<div class="row">
  <div class="span6 offset3">
  <h4>Write a new FAQ:</h4>
    <%= form_for(@faq) do |f| %>

      <%= f.label :question %>
      <%= f.text_field :question %>

      <%= f.label :answer %>
      <%= f.text_field :answer %><br><br>

      <%= f.submit "Add FAQ", class: "btn btn-large" %>
    <% end %>
  </div>
</div>
