
<%= form_for @home_page, :html => { :multipart => true }, url: {action: :update} do |f| %>

    <%= f.fields_for :picture do |picture_fields| %>

      <%= picture_fields.file_field :image %>

    <% end %>

    <%= f.submit %>

<% end %>







<div>
        <div><img src="/photo1.jpg"></div>
        <%= form_for @home_page, :html => { :multipart => true, :class => 'form-horizontal' } do |f| %>
    		<%= f.label :picture %>
      		<%= file_field_tag "image", type: :file %>
      		<%= f.submit nil, :class => 'btn btn-primary' %>
      	<% end %>

        <div><img src="/photo2.jpg"></div>


        <div><img src="/photo3.jpg"></div>
</div>