<%= render 'layouts/photoscroll' %>

<div class="row-fluid">


<div class="text-container span9">
<p class="headline">S.C.H.O.L.A.R. has existed in partnership with New Haven for over 20 years.</p>

	<% if @history.history_photo_file_name != nil %>
	<div id="history-photo">
	<img id="enrich-photo" src=<%= @history.history_photo %> >
	</div>

	<% if signed_in? %>
		<%= button_to "Upload new photo", edit_history_path(1), :method => :get, :form_class => "edit", class: "btn right-button" %><br><br>
		<%= button_to "Delete this photo", history_path, :method => :delete, class: "btn right-button" %>
	<% end %>

	<% end %>
<p>
	<%= simple_format(h @history.text) %>

	<% if signed_in? %>
	<%= button_to "Edit text", '1/edittext', :method => :get, class: "btn" %>
	<% end %>
</p>


</div>




<%= render 'layouts/sidebar' %>

</div>


