<%= render 'layouts/photoscroll' %>

<div class="row-fluid">


<div class="text-container span9">
<p class="headline">S.C.H.O.L.A.R. students go on to excel in college and beyond.</p>

	<%= simple_format(h @result.text) %>

	<% if signed_in? %>
	<%= button_to "Edit text", '1/edittext', :method => :get, class: "btn" %>
	<%= button_to "Upload new photo", edit_result_path(1), :method => :get, :form_class => "edit", class: "btn right-button" %>
	<%= button_to "Delete the photo on this page", result_path, :method => :delete, class: "btn right-button" %>
	<% end %>

<br>

	<% if @result.result_photo_file_name != nil %>
	<div id="result-photo-div">
	<a href="<%= @result.result_photo %>" ><img id="result-photo" src=<%= @result.result_photo %> ></a>
	</div>
	<% else %>

	<% end %>



</div>




<%= render 'layouts/sidebar' %>

</div>


