<% @quotations.each do |quotation| %>
Quote: <%= quotation.quote %> <br>
Attribution: <%= quotation.attribution %> <br>
<%= link_to "Delete this quotation", quotation, method: :delete %> <br><br>
<% end %>

<br><br>

<h3>Add a new quotation:</h3>
<%= form_for(@quotation) do |f| %>

  <div class="field">
  	Quote (must be fewer than 255 characters):<br>
    <%= f.text_field :quote %> <br><br>

    Attribution:<br>
    <%= f.text_field :attribution %>

  </div>

  <%= f.submit "Add quotation", class: "btn btn-large btn-primary" %>
<% end %>