<h4>Edit the text on the Apply page (the text can include a link):</h4><br>

<%= form_tag "/apply/" + params[:id] + "/updatetext", method: "patch" do %>
		<h4>Text to go before link:</h4>
		<%= text_area_tag(:text_before) %><br>

		<h4>Text to show up as linked:</h4>
		<%= text_area_tag(:link_text) %><br>

		<h4>URL:</h4>
		<%= text_area_tag(:url) %><br>

		<h4>Text to go after link:</h4>
		<%= text_area_tag(:text_after) %><br><br>
		
		<%= submit_tag("Update text") %>
<% end %>

