<%= render 'layouts/photoscroll' %>

<div class="row-fluid">


<div class="text-container span9" id="contact-container">
<p class="headline"><%= Headline.first.apply %></p>
<% if signed_in? %>
	<%= button_to "Edit headline", '/edit_apply_headline', :method => :get, class: "btn" %>
<% end %>
<p>
		<%= @apply.text_before %>
		<% if @apply.url.to_s.include?("http://") %>
			<a href=<%= @apply.url.to_s %> ><%= @apply.link_text %></a>
		<% else %>
			<a href=<%= 'http://' + @apply.url.to_s %> ><%= @apply.link_text %></a>
		<% end %>
		<%= @apply.text_after %>


	<% if signed_in? %>
	<%= button_to "Edit text", '1/edittext', :method => :get, class: "btn" %>
	<% end %>
</p>
<p>
	<% if @apply.application_file_name != nil %>
	<%= link_to "Application", @apply.application.url(:original, false) %>
	<% if signed_in? %>
		 | 
		<%= link_to "delete this file", apply_path, :method => :delete %>
	<% end %>

	<% end %>
</p>

<% if signed_in? %>
<%= button_to "Upload new application", edit_apply_path(1), :method => :get, :form_class => "edit", class: "btn" %>
<% end %>
</div>




<%= render 'layouts/sidebar' %>

</div>


