<%= render 'layouts/photoscroll' %>

<div class="row-fluid">


<div class="text-container span9">

<p class="headline">Learn what a typical day at S.C.H.O.L.A.R. is like for students who attend.</p>

<% if !@study.pictures.first.nil? %>

<div id="study-left-empty-div">&nbsp;</div>

<div id="enrich-photo-left">
	<img id="enrich-photo" src=<%= @study.pictures.first.image.url %> >
</div>

<div id="study-right-empty-div">&nbsp;</div>

<div id="enrich-photo-right">
	<img id="enrich-photo" src=<%= @study.pictures.last.image.url %> >
</div>
<% end %>

<p><%= simple_format(h @study.text) %></p>

<% if signed_in? %>
<%= button_to "Update this page", edit_study_path(1), :method => :get, :form_class => "edit", class: "btn btn-large" %>
<% end %>
</div>




<%= render 'layouts/sidebar' %>

</div>
