<%= render 'layouts/photoscroll' %>

<div class="row-fluid">

<div class="text-container span9" id="contact-container">

<p class="headline">See students enjoying the program firsthand.</p>

<% @media.each do |medium| %>
<%= link_to medium.name, medium %>
 <% if signed_in? %>
 | 
<%= link_to "delete", medium, method: :delete %>
<% end %>
 <br>
<% end %>

<br>

<% if signed_in? %>
	<%= button_to "Add new gallery", new_medium_path, :method => :get %>
<% end %>
</div>

<%= render 'layouts/sidebar' %>

</div>
