<%= render 'layouts/photoscroll' %>

<div class="row-fluid">

<div class="text-container span9" id="contact-container">

<p class="headline"><%= Headline.first.media %></p>
<% if signed_in? %>
	<%= button_to "Edit headline", '/edit_media_headline', :method => :get, class: "btn" %>
<% end %>

<% @media.each do |medium| %>
<%= link_to medium.name, medium, class: "medium-list" %>
 <% if signed_in? %>
 | 
<%= link_to "delete", medium, method: :delete %>
<% end %>
 <br>
<% end %>

<br>

<% if signed_in? %>
	<%= button_to "Add new gallery", new_medium_path, :method => :get, class: "btn btn-large" %>
<% end %>
</div>

<%= render 'layouts/sidebar' %>

</div>
