<%= form_for @medium, :html => { :class => 'form-horizontal', multipart: true } do |f| %>

  <h4>Create new photo gallery:</h4>

    <p>Add the photos now; you can insert videos later.</p><br>

  Name:<br>
  <%= f.text_field :name %><br><br>

  Description:<br>
  <%= f.text_field :description %><br><br>

  Choose any number of photos:<br>
  <%= file_field_tag "images[]", type: :file, multiple: true %><br><br>

  <%= f.submit "Create gallery", :class => 'btn btn-large btn-primary' %>

<% end %>