<h4><%= @medium.name %></h4>
<p><%= @medium.description %></p>
<br>

<div class="container">
	<ul class="row" id="gallery-ul">
      <% @medium.pictures.each do |picture| %>
		<li><%= link_to image_tag(picture.image.url(:thumb)), picture.image.url, class: "col-lg-2 gallery-photo" %></li>
	  <% end %>
	</ul>


<br>

<div>
<% if !@medium.video1.nil? && !@medium.video1.empty? %>
<%= raw(youtube_embed(@medium.video1)) %>
<% end %>

<br>

<% if !@medium.video2.nil? && !@medium.video2.empty? %>
<%= raw(youtube_embed(@medium.video2)) %>
<% end %>
</div>

</div>

<div id="modal-shade"></div>
<div id="modal-container">
	<div id="modal">
	</div>
</div>

<% if signed_in? %>
	<%= button_to "Edit or add videos", params[:id].to_s + '/editvideo', :method => :get %>
<% end %>