<div class="row">
  <div class="span6 offset3">
  <h4>Update the information for this course</h4>
    <%= form_for @course, url: {controller: "courses", action: "update"}, :html => { :multipart => true }, method: :patch do |form| %>
      Name:<br>
      <%= form.text_field :name %><br>

      Description:<br>
      <%= form.text_area :description, class: "full-width-text-area" %><br>

      Choose ONE photo:<br>
      <%= file_field_tag "images[]", type: :file, multiple: true %><br><br>

      <%= form.submit "Update course", class: "btn btn-large btn-primary" %>
    <% end %>
    
  </div>
</div>