<%= render 'layouts/photoscroll' %>

<div class="row-fluid">

<div class="text-container span9">

<p class="headline">Students are exposed to a variety of courses taught by Yale faculty and staff.</p>

<% @courses.each do |course| %>

<div class="course-div">
<% if (course.id % 2 == 1) %>
	<% course.pictures.each do |picture| %>
		<%= image_tag(picture.image.url(:thumb), class: "course-photo-left") %>
	<% end %>
<% else %>
	<% course.pictures.each do |picture| %>
		<%= image_tag(picture.image.url(:thumb), class: "course-photo-right") %>
	<% end %>
<% end %>

<% if (course.id % 2 == 1) %>
<h4><%= course.name %></h4>
<% else %>
<h4 class="course-name-right"><%= course.name %></h4>
<% end %>
<%= simple_format(h course.description) %>

<% if signed_in? %>
<%= link_to "Edit this course", edit_course_path(course) %> <br>
<%= link_to "Delete this course", course, method: :delete %> <br>
<% end %>
</div>

<% end %>

<br>

<% if signed_in? %>
	<%= button_to "Add new course", new_course_path, :method => :get, class: "btn btn-large" %>
<% end %>
</div>

<%= render 'layouts/sidebar' %>

</div>
