<h4>Add the information for a new course:</h4>
<%= form_for @course, :html => { :class => 'form-horizontal', multipart: true } do |f| %>

 Name:<br>
 <%= f.text_field :name %> <br><br>

 Description:<br>
 <%= f.text_area :description, :class => 'full-width-text-area' %> <br><br>

 Choose ONE photo to appear next to the description of this course:<br>
 <%= file_field_tag "images[]", type: :file, multiple: true %><br><br>

 <%= f.submit "Create course", :class => 'btn btn-large btn-primary' %>

<% end %>