<%= render 'layouts/photoscroll' %>

<div class="row-fluid">

<div class="text-container span9" id="contact-container">
<p class="headline"><%= Headline.first.press %></p>
<% if signed_in? %>
	<%= button_to "Edit headline", '/edit_press_headline', :method => :get, class: "btn" %>
<% end %>

<br>
<%= simple_format(h @press.text) %>
<% if signed_in? %>
	<%= button_to "Edit text", edit_press_path(1), :method => :get, class: "btn btn-large" %>
<% end %>
 <br> <br>

<% if !(@press.links.first == nil) %>
	<% @press.links.reverse_each do |link| %>
		<%= link.text_before %>
		<% if link.url.to_s.include?("http://") %>
			<a href=<%= link.url.to_s %> ><%= link.link_text %></a>
		<% else %>
			<a href=<%= 'http://' + link.url.to_s %> ><%= link.link_text %></a>
		<% end %>
		<%= link.text_after %> 
		<% if signed_in? %>
			|
			<%= link_to "delete", link, method: :delete %>
		<% end %>
      	<br> <br>
	<% end %>
<% end %>

<br>

<% if signed_in? %>
<h4>Add a new link:</h4>
<%= form_for(@link) do |f| %>

  <div class="field">
  	Text to go before link:<br>
    <%= f.text_area :text_before %> <br>

    Text to show up as linked:<br>
    <%= f.text_area :link_text %><br>

    URL:<br>
    <%= f.text_area :url %> <br>

    Text to go after link:<br>
    <%= f.text_area :text_after %>
  </div>
  <%= f.submit "Add link", class: "btn btn-large btn-primary" %>
<% end %>
<% end %>
</div>

<%= render 'layouts/sidebar' %>

</div>