<div class="row-fluid">

<div class="span9">

<%= image_tag "scroll1.jpg", class: "banner" %>
<%= image_tag "scroll2.jpg", class: "banner" %>
<%= image_tag "scroll3.jpg", class: "banner" %>
<%= image_tag "scroll4.jpg", class: "banner" %>
<%= image_tag "scroll5.jpg", class: "banner" %>

<div class="text-container">
<p>
<%= simple_format(h @contact.text) %>

</p>

<% if signed_in? %>
<%= button_to "Edit this page", edit_contact_path(1), :method => :get, :form_class => "edit" %>
<% end %>
</div>

</div>


<div id="quotes" class="span3">

<q><%= @quote %></q>
<p id="attribution">- <%= @attribution %></p>

</div>

</div>
