<%= render 'layouts/photoscroll' %>

<div class="row-fluid">


<div class="text-container span9">

<p class="headline"><%= Headline.first.enrichments %></p>
<% if signed_in? %>
	<%= button_to "Edit headline", '/edit_enrichments_headline', :method => :get, class: "btn" %>
<% end %>

<% if !@enrichment.pictures.first.nil? %>
<div id="enrich-photo-right">
	<img id="enrich-photo" src=<%= @enrichment.pictures.first.image.url %> >
</div>

<div id="empty-div">&nbsp;</div>

<div id="enrich-photo-left">
	<img id="enrich-photo" src=<%= @enrichment.pictures.last.image.url %> >
</div>
<% end %>

<p><%= simple_format(h @enrichment.text) %></p>

<% if signed_in? %>
<br>
<%= button_to "Update this page", edit_enrichment_path(1), :method => :get, :form_class => "edit", class: "btn btn-large" %>
<% end %>
</div>




<%= render 'layouts/sidebar' %>

</div>
