<div class="navbar navbar-default center">
  <div class="navbar-inner">
    <div class="container">
      <nav>
        <ul class="nav">
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                About Us <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Staff", '#' %></li> 
                <li><%= link_to "Contact", contact_path(1) %></li> 
              </ul>
            </li>

            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                The Program <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "History", '#' %></li>
                <li><%= link_to "Curriculum", courses_path %></li> 
                <li><%= link_to "Enrichment", @enrichment %></li> 
                <li><%= link_to "Photos & Videos", media_path %></li> 
                <li><%= link_to "Where are they now?", '#' %></li> 
              </ul>
            </li>

            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Apply <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "FAQ", faqs_path %></li>
                <li><%= link_to "How to Apply", apply_path(1) %></li>  
              </ul>
            </li>

            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Get Involved <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Study with SCHOLAR", '#' %></li>
                <li><%= link_to "Teach or Volunteer", '#' %></li>  
                <li><%= link_to "Donate", '#' %></li> 
              </ul>
            </li>

          <li><%= link_to "Press", press_path(1) %></li>

        </ul>
      </nav>
    </div>
  </div>
</div>