<!DOCTYPE html>
<html>
<head>
  <title>S.C.H.O.L.A.R.</title>
  <style type="text/css"> .stretchX {width: 100%; height: 70%;} </style>
  <link href='http://fonts.googleapis.com/css?family=Nothing+You+Could+Do' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Calligraffitti' rel='stylesheet' type='text/css'>

  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <link rel="stylesheet" type="text/css" href="slick/slick.css"/>

  <script type="text/javascript" 
	src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js">
  </script>

  <script type="text/javascript" src="slick/slick.min.js"></script>



  <%= render 'layouts/shim' %>
</head>
<body>

	<div class="row-fluid">
		<div class="span10 offset1">

			<%= link_to(image_tag("scholar_logo.jpg", :id => "scholar_logo"), root_path, { method: "get" }) %>
			<%= link_to(image_tag("pathways_logo.png", :id => "pathways_logo"), 'http://onhsa.yale.edu/pathways-science') %>
			
			<% if signed_in? %>
				<div id="button-container">
				<%= link_to "View admins", users_path, class: "btn btn-large"%>
				<%= link_to "Create new admin", signup_path, class: "btn btn-large"%>
				<%= link_to "Sign out", signout_path, method: "delete", class: "btn btn-large" %>
				<%= link_to "Change photo scroll", new_gallery_path, method: "get", class: "btn btn-large" %>
				<%= link_to "Change quotes", quotations_path, method: "get", class: "btn btn-large" %>
				</div>
			<% end %>
			<%= render 'layouts/header' %>
			<% flash.each do |key, value| %>
        		<div class="alert alert-<%= key %>"><%= value %></div>
      		<% end %>
			<%= yield %>

			<%= render 'layouts/footer' %>

		</div>
	</div>

</body>
</html>
